*{
    box-sizing: border-box;
    top: 0px;
    margin: 0px;
}

body{
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}


/* 
  Glosario:
    display
        flex: convierte el elemento en flexible, ideal para posicionar
        grid: diseñado para trabajar filar y columnas
        none: oculta el elemento
        block: es el tipo de display base que cada elemento tiene

    - flex-direction: indica la direccion de un elemento tipo flex.
    (Fila, Columna, Fila inversa, columna inversa... etc)

    - flex-wrap: determina si los elementos flexibles deben romperse 
    y continuar en una nueva línea o no.

    - grid-wrap: determina si las filas o columnas de la rejilla pueden
    romperse y continuar en una nueva línea o no.

    - grid-template-columns: permite establecer la cantidad de columnas y su tamaño
    en un elemento tipo grid.

    - grid-template-rows: permite establecer la cantidad de filas y su tamaño
    en un elemento tipo grid.

    - justify-content: Se encarga de trabajar el eje principal de una alineacion.
        (eje horizontal para fila y eje vertical para columna)

    - align-items: se encarga de trabajar el eje secundario de una alineacion.
        (eje vertical para fila y eje horizontal para columna)

    -space-around los separa
    -space-evenly
    -space-between los pega al borde    
*/

main{
    display: flex;
    justify-content: space-between;
    align-items: s;
    flex-wrap: wrap;
    width: 500px;
    height: 330px;
    padding: 20px;
    gap: 10px;
    background-color: rgb(89, 0, 255);
}

main div{
    background-color: rgb(255, 0, 0);
    width: 90px;
    height: 50px;
}